.container {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    align-items: center;
}

.expense-list {
    list-style: none;
    padding: 0;
}
.h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}