
.custom-div{
    background-color: lightcoral;
    border: 2px solid;
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-left: 25%;
}